body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; /* Cambia el color de fondo */
  color: white;
  position: relative;
  min-height: 100vh;
}
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 1rem 2rem;
  }
  
  .logo-img {
    max-height: 40px; /* Ajusta la altura máxima del logo */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    text-transform: uppercase;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
  }
  
  /* Encabezado */
  .header {
    text-align: center;
    padding: 2rem;
  }
  
  /* Contenido principal */
  .main-content {
    text-align: center;
    padding: 2rem;
  }
  
/* Cuadro de información */
.info-box {
  background-color: #292929;
  color: white;
  padding: 20px;
  width: 100%; /* Ajusta el ancho del cuadro de información */
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 10px; /* Agrega bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Agrega sombra */
  text-align: center;
}
  
  /* Pie de página */
  .footer {
    background-color: #292929;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  
/* Estilos para el carrusel */
.carousel {
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    transform: translateY(-50%);
    width: 50%;
    max-width: 500px;
  }
  
  .carousel-inner {
    width: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-icon {
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }