body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Cambia el color de fondo */
    color: white;
    position: relative;
    min-height: 100vh;
  }
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 1rem 2rem;
  }
  
  .logo img {
    width: 50px;
    height: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    text-transform: uppercase;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.pregunta-section {
    background-color: #59E2C4;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.pregunta-section h2 {
    margin-top: 10px;
}

.pregunta-section img {
    max-width: 100px;
    margin-top: 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.pregunta-section img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.progress-container {
    text-align: center;
    margin-top: 20px;
}

.progress {
    height: 20px;
    border-radius: 10px;
}

.respuesta-section {
    background-color: #00406E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
    margin-bottom: 10px;
}

.btn {
    width: 100%;
}
.progress-container {
    text-align: center;
    margin-top: 20px;
}

.progress {
    height: 20px;
    border-radius: 10px;

}


.navbar {
    background-color: black;
    color: white;
}


#opciones {
    list-style: none;
    padding: 0;
}

#opciones label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

#opciones input[type="radio"] {
    margin-right: 10px;
}

  
  /* Pie de página */
  .footer {
    background-color: #292929;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }


@media (max-width: 768px) {
    .pregunta-section, .respuesta-section {
        padding: 15px;
    }
    @media (max-width: 768px) {
        /* ... Otros estilos responsivos ... */
        
        .progress-container {
            margin-top: 10px;
        }
    }
}

@media (max-width: 768px) {
    /* ... Otros estilos responsivos ... */
    
    .progress-container {
        margin-top: 10px;
    }
}
