@font-face {
  font-family: CercoDEMO-Medium;
  src: url(/fuentes/CercoDEMO-Medium.otf);
}

@font-face {
  font-family: CercoDEMO-Regular;
  src: url(/fuentes/CercoDEMO-Regular.otf);
}

@font-face {
  font-family: CercoDEMO-Light;
  src: url(/fuentes/CercoDEMO-Light.otf);
}
@font-face {
  font-family: CercoDEMO-Bold;
  src: url(/fuentes/CercoDEMO-Bold.otf);
}

@font-face {
  font-family: CercoDEMO-Black;
  src: url(/fuentes/CercoDEMO-Black.otf);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  background-color: #dae7e9; /* Cambia el color de fondo */
  color: white;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}


  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .navbar-brand, .navbar-brand:hover, .navbar-brand:visited{
    color: #7a6d49;
  }
  
  
  .navbar-toggler{
    border-color: #0A6BA4 !important;
  }
  
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    text-transform: uppercase;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
  }
  
  /* Encabezado */
  .header {
    text-align: center;
    padding: 2rem;
  }
  
  /* Contenido principal */
  .main-content {
    text-align: center;
    padding: 2rem;
  }

  /* Contenido CARDS */
  .card-text{
    color: black;
    font-family: CercoDEMO-Regular;
  }

  .titulo{
    font-family: CercoDEMO-Medium;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-size: 18pt;
    color: rgb(37, 37, 37);
    font-family: CercoDEMO-Regular;
  }
  
  .subtitulo{
    font-family: CercoDEMO-Medium;
    font-size: 20pt;
    color: rgb(37, 37, 37);
  }
  
  .frase{
    font-family: CercoDEMO-Light;
    font-size: 12pt;
    color: rgb(37, 37, 37);
  }

  .card-title{
    color: rgb(37, 37, 37);
    font-family: CercoDEMO-Black;
    
  }

  .box{
    text-align: center;
    justify-content: center;
    padding: 20px;
  }
  


/* Centrar el contenido del footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: auto; /* Asegura que el footer ocupe la altura completa del viewport */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa; /* Ajusta el color de fondo según sea necesario */
  width: 100%;
}

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-icon {
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .container_flex1{
    background-color: rgb(104, 104, 104);
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .imagen-email{
    position: relative;
    left: 120px;
    bottom: 20px;
  }
  
  .boton{
    background-color: rgb(26, 24, 25);
    color: rgb(255, 255, 255);
    font-family: CercoDEMO-Regular;
    font-size: 10pt;
    border-radius: 30px;
    border: 0px solid rgb(83, 77, 58);
    padding: 15px 15px;
  }
  
  
  .form{
    border-radius: 3px;
    text-align: center;
  }
  
  .card-text-footer{
    font-family: CercoDEMO-light;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-size: 10pt;
    color: rgb(37, 37, 37);
  }
  
  .box4{
    text-align: center;
    color: rgb(172, 172, 172);
  }
  
  .div-box5{
    font-family: CercoDEMO-Medium;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-size: 18pt;
    color: rgb(37, 37, 37);
  }
  
  .ul1{
    font-family: CercoDEMO-Medium;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 10pt;
    color: rgba(3, 3, 3, 0.815);
  }
  
  .ul2{
    font-family: CercoDEMO-Medium;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-size: 10pt;
    color: rgba(2, 2, 2, 0.815);
  }
  
  .titulo-footer{
    font-family: CercoDEMO-Medium;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    font-size: 16pt;
    color: rgb(2, 2, 2);
  }
  
  .container_flex2{
    background-color: rgb(243, 241, 212);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
  }
  
  .box7{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font: 20px;
  }
  
  .box8{
    color: rgb(44, 44, 44);
    font-family: CercoDEMO-Regular;
    text-align: center;
    font-size: 12px;
  }
  
  .padre{
    background-color: rgb(45, 46, 46);
    font-family: CercoDEMO-Regular;
    font-size: 8pt;
    color: white;
    text-align: center;
    width: 100%;
  }
  
  .img-logo-footer{
    position: relative;
    left: 100px;
    height: 6rem;
    width: 100px;
  }

  .bienvenida-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-image: url('backgroundgradiant.png'); /* Cambia la ruta por la ubicación de tu imagen */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
  }
  
  /* Estilos para el título de bienvenida */
  .titulo-bienvenida {
    font-size: 4rem;
    font-family: CercoDEMO-Black;
    color: #b2cace;
    margin: 0;
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(-20px);
    animation: fadeSlideIn 3.5s ease-in-out forwards;
  }
  
  /* Estilos para el mensaje de bienvenida */
  .mensaje-bienvenida {
    font-size: 1.5rem;
    font-family: CercoDEMO-Medium;
    color: #b64ea5;
    margin-top: 10px;
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(20px);
    animation: fadeSlideIn 2.5s 1.5s ease-in-out forwards;
  }
  .container {
    text-align: center;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #111111;
    color: #fff;
    font-family: CercoDEMO-Light;
    border: none;
    cursor: pointer;
  }
  
  .loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
  }


  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  
  /* Animación para mostrar y desplazar elementos */
  @keyframes fadeSlideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
 .dropdown-item{
    font-family: CercoDEMO-Regular;
  }
  
  @media (max-width:700px){
    body {
  font-family: Arial, sans-serif;
  max-width: 100%;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  background-color: #dae7e9; /* Cambia el color de fondo */
  color: white;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  }
  @media (max-width:450px){
    .img-carousel{
      height: 30vh;
    }
  }

  